<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html {
                background: url(business-card.svg) no-repeat center center fixed;
                background-size: contain;
                cursor: pointer;
            }
            body {
                margin: 0;
                padding: 0;
            }
            #content{
                display: none;
            }
        </style>
        <script>
/* eslint-env browser */
function setDimensions() {
    const w = window; const d = document; const e = d.documentElement; const g = d.getElementsByTagName('body')[0];
    const x = w.innerWidth || e.clientWidth || g.clientWidth; const y = w.innerHeight || e.clientHeight || g.clientHeight;
    document.body.style.width = `${x}px`; document.body.style.height = `${y}px`;
}
document.addEventListener('DOMContentLoaded', () => { setDimensions(); });
window.onresize = () => { setDimensions(); };
window.onclick = () => { window.location.href = '{{{link}}}'; };
        </script>
    </head>
    <body>
        <div id="content">
            {{{content}}}
        </div>
            {{#google_analytics}}
                <script>
                    /* eslint-disable */
                    ! function(a, b, c, d, e, f, g) {
                        a.GoogleAnalyticsObject = e, a[e] = a[e] || function() {
                            (a[e].q = a[e].q || []).push(arguments)
                        }, a[e].l = 1 * new Date, f = b.createElement(c), g = b.getElementsByTagName(c)[0], f.async = 1, f.src = d, g.parentNode.insertBefore(f, g)
                    }(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga"), ga("create", '{{google_analytics}}', "auto"), ga("send", "pageview");
                </script>
            {{/google_analytics}}
    </body>
</html>
