<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style></style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMjA0OCAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02ODEgMTM5OWwtNTAgNTBxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNDY2LTQ2NnExMC0xMCAyMy0xMHQyMyAxMGw1MCA1MHExMCAxMCAxMCAyM3QtMTAgMjNsLTM5MyAzOTMgMzkzIDM5M3ExMCAxMCAxMCAyM3QtMTAgMjN6bTU5MS0xMDY3bC0zNzMgMTI5MXEtNCAxMy0xNS41IDE5LjV0LTIzLjUgMi41bC02Mi0xN3EtMTMtNC0xOS41LTE1LjV0LTIuNS0yNC41bDM3My0xMjkxcTQtMTMgMTUuNS0xOS41dDIzLjUtMi41bDYyIDE3cTEzIDQgMTkuNSAxNS41dDIuNSAyNC41em02NTcgNjUxbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTUwLTUwcS0xMC0xMC0xMC0yM3QxMC0yM2wzOTMtMzkzLTM5My0zOTNxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDQ2NiA0NjZxMTAgMTAgMTAgMjN0LTEwIDIzeiIvPjwvc3ZnPg==" height="72">
                        <br><br>
                        <span class="text-muted">{{title}}</span>
                        <br><br>
                        <img src="//www.gravatar.com/avatar/{{gravatar}}?rating=G&size=256" alt="{{title}}" class="img-circle" height="256" width="256">
                    </h1>
                    <br>
                    <a href="https://www.digitalocean.com/?refcode=b8d0f3b149a7"><img src="https://s3.amazonaws.com/multisite-misc-assets/do-hosted-by.png" alt="Digital Ocean"></a>
                </div>
            </div>
        </div>
    </body>
</html>

