<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        <span class="text-muted">{{title}}</span>
                        <br><br>
                        <small>Diese Seite befindet sich im Aufbau.</small>
                    </h1>
                    <br>
                    <a href="https://limenet.ch"><img src="https://s3.amazonaws.com/limenet-logo-img/v2/full-transparent-height20.png" alt="limenet.ch"></a>
                </div>
            </div>
        </div>
    </body>
</html>

