<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style></style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{title}}</h1>
                    <p class="lead">Diese Seite befindet sich im Aufbau.</p>
                    <br>
                    {{#images}}<a href="https://limenet.ch"><img src="{{limenetch}}" alt="limenet.ch"></a>{{/images}}
                </div>
            </div>
        </div>
        {{#google_analytics}}
            <script>
                /* eslint-disable */
                ! function(a, b, c, d, e, f, g) {
                    a.GoogleAnalyticsObject = e, a[e] = a[e] || function() {
                        (a[e].q = a[e].q || []).push(arguments)
                    }, a[e].l = 1 * new Date, f = b.createElement(c), g = b.getElementsByTagName(c)[0], f.async = 1, f.src = d, g.parentNode.insertBefore(f, g)
                }(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga"), ga("create", "{{google_analytics}}", "auto"), ga("send", "pageview");
            </script>
        {{/google_analytics}}
    </body>
</html>

